<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Title</title>
</head>
<body>

<header>
    <div class="logo">K.W.BRUUN</div>

    <nav>
        <a href="index.html">Forside</a>
        <a href="BilBibliotek.html">Biler</a>
        <a href="faq.html">FAQ</a>
        <a href="om%20os.html">Om os</a>
    </nav>

    <div class="right-section">
        <input type="text" placeholder="Søg..." class="search-box">
        <a href="login.html">
            <button class="login-btn">Login</button>
        </a>
    </div>
</header>

</body>
</html>