<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Title</title>
</head>
<body>

<header>
    <div class="logo">K.W.BRUUN</div>

    <nav>
        <a th:href="@{/}">Forside</a>
        <a th:href="@{/cars}">Biler</a>
        <a th:href="@{/faq}">FAQ</a>
        <a th:href="@{/om-os}">Om os</a>
    </nav>

    <div class="right-section">
        <input type="text" placeholder="Søg..." class="search-box">
        <a th:href="@{/login}">
            <button class="login-btn">Login</button>
        </a>
    </div>
</header>

</body>
</html>